@import "tailwindcss";

/* Your custom CSS and Tailwind customizations go here */

/* Custom theme values (Tailwind v4 syntax) */
@theme {
  --color-primary: #3b82f6;
  --color-secondary: #64748b;
  --color-gray: hsl(270, 3%, 87%);
  --color-gray2: hsl(212, 12%, 71%);
  --breakpoint-xxl: 1440px;

  --font-size-xl: 1.25rem;
  --color-gradient-start: hsl(278, 68%, 11%);
  --color-gradient-end: hsl(278, 94%, 30%);
}

.form div{
  margin-bottom: 8px;
}
 .form label{
  font-size: 10px;
  font-weight: bold;
  color: hsl(278, 68%, 11%);
  margin-bottom: 4px;

}


.form input{
  border: 1px solid hsl(270, 3%, 87%);
  border-radius: 4px;
  padding: 2% 0px 2% 4%;
  font-size: 12px;

} 
.form input::placeholder{
  color: hsl(212, 12%, 71%);
  font-size: 12px;
}

@media (min-width: 635px) and (max-width: 767px) {
  body{
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  .form input::placeholder{
    font-size: 16px;
  }
  .form input{
    font-size: 16px;
  }
}
@media (min-width: 1440px) {
  .form input::placeholder{
    font-size: 20px;
  }
  .form input{
    font-size: 20px;
  }
  .section-one .back-card{
    margin-top: 100%;
  }
  .section-one .front-card{
    top: 25%;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .form input::placeholder{
    font-size: 14px;
  }
  .form input{
    font-size: 14px;
  }
}


/* Custom component classes */
/* .btn-primary {
  @apply bg-blue-600 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded-lg transition-colors;
}

.card {
  @apply bg-white rounded-lg shadow-md p-6 border border-gray-200;
} */